html, body, div, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* html{overflow-y: scroll;scroll-behavior: smooth;} */
body {
	line-height: 1;
    position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    text-transform: uppercase;
}
/* ======================================================================= */



nav{
    display: block;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #F5F6FA;
    display: flex;        
    align-items: center;
    box-sizing: border-box;
}
nav a{
    font-size: 20px;
    color: black;
    list-style: none;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-weight: 800;
}
nav h1{
    display: block;
}
nav h1 a{
    margin-left: 10px;
    font-size: 25px;
}
nav ul{
    display: inline-block;
    list-style: none;
    display: flex;        
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
nav ul li{
    margin-left: 30px;
    transition: -3s;
    -webkit-transition: -3s;
    -moz-transition: -3s;
    -ms-transition: -3s;
    -o-transition: -3s;
}
nav ul li:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
nav ul li a img{
    width: 29px;
}
.navbutton{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 0;
    top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
}
.navbutton img{
    width: 40px;
    height: 40px;
}
.navbutton img:nth-child(2){
    display: none;
}
#btnnav:checked ~ .navbutton img:nth-child(1){
    display: none;
}
#btnnav:checked ~ .navbutton img:nth-child(2){
    display: block;
}
#btnnav{
    display: none;
}
@media screen and (max-width: 750px){
    
    nav h1{
        position: absolute;
        top: 0;
    }
    nav h1 a{
        font-size: 20px;
    }
    nav ul{
        display: inline-block;
        position: relative;
        margin: auto;
        text-align: center;
        background-color: #F5F6FA;
        margin-top: 70px;
        width: 100%;
        height: 0%;
        overflow: hidden;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}
    #btnnav:checked ~ ul{
        height: 1000%;
    }
    nav ul li{
        margin-left: 0px;
        margin-bottom: 60px;
    }
    .navbutton{
        display: block;
    }
}
/* ======================================================================= */


.jumbotron{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vmin;
    box-sizing: border-box;
    overflow: hidden;
    background: url(../assets/img/jumbotron.jpg) center no-repeat;
    background-size: cover;
    background-color: #323232;
    margin-bottom: 30px;
}
.jumbotron::after{
    content: '';
    display: block;
    background-color: #323232;
    opacity: 0.5;
    width: 100%;
    min-height: 100vh;
}
/* ======================================================================= */


.katalog{
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.katalog ul{
    position: relative;
    width: 370px;
    height: 560px;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 0 30px 0 30px;
}
.katalog ul li{
    position: relative;
    margin-top: -10px;
}
.katalog ul li:nth-child(2){
    margin-bottom: 2px;
}
.katalog ul li:last-child{
}
.katalog ul li img{
    width: 370px;
    height: 442px;
}
.katalog ul li a{
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 243px;
    height: 38px;
    line-height: 38px;
    background-color: #2D3436;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.shope{
    width: 100%;
    display: flex;
    margin-bottom: 130px;
    margin-top: 100px;
}
.shopenow{
    position: relative;
    text-align: center;
    width: 338px;
    height: 84px;
    line-height: 84px;
    text-decoration: none;
    font-size: 32px;
    background-color: #2D3436;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: auto;
}
.katalogtitle{
    width: 100%;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
@media screen and (max-width: 750px){
    .katalog ul{
        margin: auto;
    }
}
/* ======================================================================= */


footer{
    position: relative;
    width: 100%;
    min-height: 100vmin;
    background-color: #2D3436;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .info{
    margin: 0px 50px 0 50px;
    height: 50vmin;
}
footer .info li{
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}
footer .info li:nth-child(1){
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
footer .info li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
footer .info li img{
    width: 270px;
}
footer .info:nth-child(3){
    position: absolute;
    right: 30px;
}
footer .copyright{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
footer .copyright a{
    text-align: center;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 750px){
    footer{
        overflow: hidden;
    }
    footer .info{
        
    margin: 0px 20px 0 20px;
    }
    footer .info li{
        font-size: 12px;
        color: white;
        margin-bottom: 5px;
    }
    footer .info li:nth-child(1){
        font-size: 15px;
    }
    footer .info:nth-child(3){
        position: relative;
        right: 30px;
    }footer .info li img{
        width: 100px;
    }
}
/* ======================================================================= */

#sideinfo, #cart, #login, #register, #serach, #account{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 9999;
    color: white;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    overflow: auto;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
#sideinfo::before, #cart::before, #login::before, #register::before, #serach::before, #account::before{
    content: '';
    display: block;
    position: relative;
    float: right;
    width: 50%;
    min-height: 100vmin;
    background-color: rgba(255, 255, 255, 1);
    color: white;
}
#sideinfo:target, #cart:target, #login:target, #register:target, #serach:target, #account:target{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
#navinfo{
    position: absolute;
    right: 0;
    width: 50%;
    height: 70px;
    z-index: 9999;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
.info{
    color: black;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.close{
    display: block;
    box-sizing: border-box;
}
.close a{
    display: block;
    width: 40px;
    height: 0;
    border: 1px solid black;
    background-color: black;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}.close a::before{
    content: '';
    display: block;
    width: 40px;
    border: 1px solid black;
    background-color: black;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.close:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.contentinfo{
    width: 50%;
    position: absolute;
    right: 0;
    min-height: 100%;
    color: black;
    padding-top: 100px;
    padding: 100px 10px 50px 10px;
    box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
}
.contentinfo ul{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
    box-sizing: border-box;
}
.contentinfo ul  li img, .shoppingcart img{
    width: 200px;
}
.contentinfo ul  li h5{
    width: 50%;
    text-align: center;
    font-weight: normal;
    margin: auto;
}

.number, .size{
    margin-top:20px;
}
.number span .size span{
    text-transform: uppercase;
}
.number input, .size select{
    height:20px;
    width: 100px;
    font-size: 15px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
} 

.btnsumbit{
    width: 200px;
    height: 30px;
    margin-top: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    border: solid 0px blueviolet;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.shoppingcart{
    display: block;
    position: relative;
    min-height: 100vmin;
}
.shoppingcart table{
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.shoppingcart table tr th{
    text-transform: uppercase;
}
.shoppingcart table tr td{
    min-width: 50px;
}
.shoppingcart table tr td a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}
.shoppingcart table tr input{
    width: 50px;
}
.shoppingcart table tr img{
    width: 150px;
}
.shoppingcart table ~ h4 span{
    margin-right: 10px;
}
.shoppingcart table ~ button, .shoppingcart table ~ .update, .shoppingcart table ~ label{
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
    margin: auto;
    right: 5px;
    bottom: -100px;
}
.shoppingcart table ~ input{
    display: none;
}
.shoppingcart table ~ label{
    position: relative;
    margin: auto;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    width: 250px;
}
.shoppingcart table ~ .update{
    right: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
.shoppingcart table ~ button:active, .shoppingcart table ~ .update:active{
    background-color: rgb(255, 255, 255);
    color: black;
}
.boxform{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
.boxform .form{
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}
.boxform .form label, .boxform .form input{
    width: 100%;
    box-sizing: border-box;
}
.boxform .form label{
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}
.boxform .form img{
    width: 29px;
}
.boxform .form input{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.boxform .form input:focus{
    outline: 0;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.boxform button, .boxform .register{
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}
.boxform .register{
    right: 0;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
.boxform button:active, .boxform .register:active{
    background-color: rgb(255, 255, 255);
    color: black;
}
@media screen and (max-width: 750px){
    #sideinfo::before, #cart::before{
        content: '';
        display: block;
        position: relative;
        float: right;
        width: 100%;
        min-height: 100vmin;
        background-color: rgba(255, 255, 255, 1);
        color: white;
    }
    #navinfo, .contentinfo{
        width: 100%;
    }
    .shoppingcart{
        min-height: 100vmax;
    }
    .shoppingcart table tr td{
        font-size: 13px;
    }
    .shoppingcart table tr th{
        font-size: 15px;
    }
    .shoppingcart table tr td a{
        font-size: 12px;
    }
}